//  COLOR PALLET
// #002280 Navy Blue
// #385DC2 Indigo
// #001B66 Royal Blue
// #ff0000 Red
// #E1A100 Senf Yellow

// <link rel="preconnect" href="https://fonts.gstatic.com">
// <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Roboto&display=swap" rel="stylesheet">

// font-family: 'Exo 2', sans-serif;
// font-family: 'Montserrat', sans-serif;

$mainColor: #001b66;
$secondColor: #002280;
$backgroundColor: #385dc2;
$highlightColor: #ff0000;
$detailColor: #e1a100;
