@use 'config' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  background-attachment: fixed;
  overflow-x: hidden;

  font-family: "Roboto", sans-serif;
  color: $fontColor;
  letter-spacing: 1px;
}

img {
  display: block;
  width: 100%;
}

svg {
  fill: $svgColor;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

// PHOTO BY ELEMENT / CREDITS
.photoCredit {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  font-size: 0.7rem;

  a {
    color: $photoCreditColor;
  }
}

// SOCIAL ICONS
.social-icons {
  margin: 25px 0;
}

.social-icons__list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-icons__list-item {
  display: flex;
  align-items: center;
  padding: 10px;

  background: $secondColor;
  box-shadow: $sharpShadow;
  border-bottom: $mainBorder;
}

.social-icon {
  display: block;
  height: auto;
  width: 30px;

  transition: all 0.5s;
}

.social-icon-text {
  display: inline-block;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .social-icon {
    width: 50px;
  }
}

// ANIMATION
// .animate {
//   opacity: 0;
// }

// .animation {
//   animation: slideUp linear 0.5s forwards;
// }

// .animationLeft {
//   animation: slideLeft linear 0.5s forwards;
// }

// @keyframes slideUp {
//   from {
//     opacity: 1;
//     transform: translateY(100%);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0%);
//   }
// }

// @keyframes slideLeft {
//   from {
//     opacity: 1;
//     transform: translateX(100%);
//   }
//   to {
//     opacity: 1;
//     transform: translateX(0%);
//   }
// }
