@use 'config' as *;

// SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $mainColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondColor;
  border-style: solid;
  border-width: 4px 0px; /* 5px top and bottom, 20px on the sides */
  border-color: $detailColor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $detailColor;
}
