@use 'config' as *;

.topBtn {
  position: fixed;
  display: block;
  right: 0px;
  bottom: 0px;
  transform: translateY(100%);
  z-index: 99;
  padding: 10px 15px;
  padding-right: 25px;
  background: $mainBackground;
  box-shadow: $sharpShadow;
  color: white;
  cursor: pointer;
  transition: transform 0.5s;

  span {
    position: relative;
    display: inline-block;
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    transform: translateY(-5px);
  }
}

.topBtnShow {
  bottom: 25px;
  transform: translateY(0%);
}
